* {
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.text-bg-soft {
    background-color: #A370F7 !important;
    color: #ffffff !important;
}

.text-bg-hard {
    background-color: #b6f4df !important;
    color: #064e3b !important;
}

.navbar .nav-link.active {
    font-weight: 600;
    color: var(--bs-primary) !important;
}

[data-bs-theme="dark"] .navbar .nav-link {
    color: var(--bs-gray-300);
}
[data-bs-theme="dark"] .navbar .nav-link.active {
    color: var(--bs-light);
    border-bottom-color: var(--bs-light);
}


@media (max-width: 576px) {
    .table td,
    .table th {
        padding: 0.5rem 0.4rem;
    }

    .table thead {
        font-size: 0.78rem;
    }
}