* {
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.text-bg-purple {
    color: #fff !important;
    background-color: #8b5cf6 !important;
}

.text-bg-hard {
    color: #fff !important;
    background-color: #0f4c75 !important;
}

.navbar .nav-link.active {
    font-weight: 600;
    color: var(--bs-primary) !important;
}

[data-bs-theme="dark"] .navbar .nav-link {
  color: var(--bs-gray-300);
}
[data-bs-theme="dark"] .navbar .nav-link.active {
  color: var(--bs-light);
  border-bottom-color: var(--bs-light);
}
